@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=VT323&display=swap");
@import "tailwindcss";

:root {
  /* theme */
  --primary: #d3fbd8;
  --secondary: #3492fa;
  --tertiary: #f6f9ff;
  --accent: #030712;

  /* utilities */
  /* text colors */
  --color-text-primary: #d1d5db;   /* gray-300, main body text */
  --color-text-heading: #f3f4f6;   /* gray-100, headings */
  --color-text-secondary: #9ca3af; /* gray-400, muted labels */
  --color-text-tertiary: #6b7280;  /* gray-500, very subtle */
  --color-accent: #dbeafe;         /* blue-100 */
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  color: var(--color-text-primary);
}

.logo {
  font-family: "VT323";
  color: var(--primary);
  text-shadow: 4px 0 var(--secondary);
}
/* 
.container {
  position: relative;
  left: 240px;
  } */
  
.r-container {
  width: calc(100% - 240px);
}

.drawer {
  /* position: fixed;
  width: 240px; */
  box-sizing: border-box;
  background: var(--accent);
}

.drawer::before {
  content: "";
  position: fixed;
  left: 237px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--primary);
  opacity: 0.1;
}

.nav-btn {
  transition: all ease-in-out 0.1s;
}

.nav-btn.active, .nav-btn:hover {
  background: var(--secondary);
  color: var(--primary);
}

.coin-card,
.stats-card {
  position: relative;
  z-index: 1;
  background: var(--accent);
  /* background-color: rgba(52, 146, 250, 0.02); */
  /* box-shadow: 0 10px 30px 0px rgba(52, 146, 250, 0.05); */
}

.coin-card::after,
.stats-card::after {
  content: "";
  position: absolute;
  inset: 0;
  /* box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35),
            0 10px 25px rgba(0, 0, 0, 0.25);
  /* filter: drop-shadow(0 12px 28px rgba(0,0,0,.35)); */
  z-index: -1;
  border-radius: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and old Edge */
}

.market-table {

}

.row {
  position: relative;
  color: var(--color-text-primary);
  border-bottom: 1px solid rgba(211, 251, 216, .25);

  > div {
    width: calc(100% / 6);
  }
}

.row.header {
  color: var(--color-text-heading);
}

/* .row::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--primary);
  opacity: 0.25;
} */

@media only screen and (max-width: 911px) {
  .market-table {
    overflow-x: scroll;
  }

  .row {
    > div {
      flex-shrink: 0;
    }
  }
}